body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .text {
    line-height: 0.1;
  }
  
  .attributes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
  }
  
  .checked {
    color: #CAE00D;
  }
  
  .rent-price {
    width: 30%;
    text-align: left;
    /* font-size: 1.2rem; */
  }
  
  .top-left {
    top: -70px;
    left: 0;
    text-align: left;
    border-bottom: 2px solid whitesmoke;
  }
  
  .bottom-left {
    text-align: left;
  }
  
  .bottom-right {
    text-align: right;
  }